.currentspots-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.currentspots-tiles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1216px;
}

.currentspots-create-button {
  background-color: #999999;
  color: white;
  width: 140px;
  cursor: pointer;
  border: black solid 2px;
  box-shadow: 3px 3px black;
  margin-bottom: 15px;
  padding: 3px 10px;
  list-style-type: none;
}
