.single-spot-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-spot-container {
  /* padding-top: 70px; */
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1080px;
}

.single-spot-image {
  height: 412px;
  max-width: 100%;
  flex-basis: auto;
  object-fit: cover;
  /* width: 50%; */
}

.single-spot-extra-images {
  height: 412px;
}

.single-spot-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-spot-callout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
}

.price-reviews-container {
  display: flex;
  justify-content: space-between;
}

.stars-reviews {
  display: flex;
  flex-direction: row;
}

.reserve-button {
  background-color: #ff5a5e;
  color: white;
  margin: 10px 0px;
  height: 40px;
  cursor: pointer;
  width: 250px;
  box-shadow: 3px 3px black;
}

.hz-line {
  margin: 15px 0px;
}

/* Reviews and Ratings Style */

.ratings-reviews-heading {
  display: flex;
  margin-bottom: 15px;
}

.post-your-review-button {
  background-color: #999999;
  color: white;
  width: 150px;
  cursor: pointer;
  border: black solid 2px;
  box-shadow: 3px 3px black;
  margin-bottom: 15px;
  padding: 3px 10px;
  list-style-type: none;
}

.spot-delete-review-button {
  background-color: #999999;
  color: white;
  width: 60px;
  cursor: pointer;
  border: black solid 2px;
  box-shadow: 2px 2px black;
  list-style-type: none;
  padding: 1px 0px;
  margin-top: 5px;
  margin-bottom: 18px;
}
